body {
  background-image: url("images/texture.jpg");
}

#rules {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#board {
  width: 75%;
  margin: 0 auto;
  margin-top: 5%;
}

.square {
  height: 150px;
  background-color: lightgray;
}

.row-border {
  border-bottom: 2px black solid;
}

#row1 .square:nth-of-type(3), #row2 .square:nth-of-type(2), #row3 .square:nth-of-type(2) {
  border-right: 2px black solid;
  border-left: 2px black solid;
}
